---
layout: default
title: iPhone and iPad Developer Training in the UK | Shiny Development
description: Our publicly scheduled iPhone and iPad Development training courses provide everything you need to get up and running with the iPhone SDK and Objective-C. Our courses focus on providing a comprehensive grounding in iPhone development techniques and you will come away with not only the ability to build iPhone applications but also an understanding of all of the concepts and patterns used in iPhone development.
permalink: /iphone-training/
---
<div class="container content-upper">
  <div class="section ">
    <h2>Ultimate iOS Training.</h2>
    <p class="excerpt">Our publicly scheduled iPhone and iPad developer training courses provide everything you need to get up and running with Objective-C and the iOS SDK.</p>
    <p class="excerpt">The course provides a comprehensive grounding in iOS development and you will come away with the ability to build apps and an understanding of all of the key concepts.</p>
  </div>
  <img src="/assets/images/macbook.png" width="561" height="360" class="display-img" />
</div>

</div>

<div class="wrapper pattern">
  <div class="container content-lower">
    <div class="section section-training">
      <h3>What will you learn?</h3>
      <p>The course is designed to take existing developers and bring them quickly up to speed with Objective-C and iOS development. You will learn:</p>
      <ul class="overview">
        <li>How to build iOS applications for iPhone, iPod Touch and iPad.</li>
        <li>Everything you need to know about Objective C to develop iOS apps.</li>
        <li>Xcode, Interface Builder, Instruments and the iPhone Simulator.</li>
        <li>Techniques to build scalable apps using MVC (Model, View Controller).</li>
        <li>The ins and outs of common iOS techniques like Delegates and Target/Action.</li>
        <li>Detailed understanding of how the iOS SDK works, removing the "magic" from iOS development.</li>
        <li>How to deploy your app to a real device and the provisioning process.</li>
        <li>Details and insight into the app store submission process.</li>
      </ul>
    </div>
    <div class="section">
      <div class="subsection-booking-new">
        <h3>Book a Place Now!</h3>
        {% include training_dates.html %}
      </div>
    </div>
  </div>
  <div class="container content-lower">
    <div class="section" style="padding:0;width:100%;">
      <h3 style="margin-bottom: 0">Course Feedback</h3>
    </div>
    <div class="section">
      <blockquote><p>&ldquo;The course was superb. Dave is an excellent instructor and knows his subject inside out. He is  able to communicate well and to help one to one with students when needed. All in all a very worthwhile 4 days.&rdquo;</p>
      <p class="author">Tony Denson</p></blockquote>
    </div>
    <div class="section">
      <blockquote><p>&ldquo;The course provided me with an excellent base of knowledge for going forward with iPhone development. Dave was friendly and helpful; even after the course had ended. All in all the course was extremely enjoyable and challenging.&rdquo;</p>
      <p class="author"><a rel="nofollow" href="http://www.richardjkeys.co.uk/">Richard Keys</a></p></blockquote>
    </div>
    <div class="section">
      <blockquote><p>&ldquo;I was nervous about learning a new language but following 4 days of great tuition, excellent demos/examples and very helpful one to one assistance whenever I needed it I wouldn't hesitate recommending this course.&rdquo;</p>
      <p class="author"><a rel="nofollow" href="http://wesayhowhigh.com/">Robert Brown</a></p></blockquote>
    </div>
  </div>
  <div class="container content-lower">
    <div class="section section-double">
      <h3>Detailed Course Breakdown</h3>
      <p><strong>Day 1</strong> is primarily focused on Objective-C and covers everything needed to start building iPhone applications. The day covers basic Objective-C syntax and constructs, use of the Xcode IDE as a development tool, the Foundation framework, building Objective-C classes, properties and methods, debugging using Xcode and GDB, and a thorough explanation of memory management on the iPhone.</p>
      <p><strong>Day 2</strong> teaches the basics of iPhone application development and then covers the details of views and the iPhone view hierarchy, delegates, Interface Builder, view controllers and architecture techniques to ensure a scalable app, table views, navigation and navigation controllers.</p>
      <p><strong>Day 3</strong> covers custom table cells, resources and image handling, animation, touch, some more advanced Objective-C, an in depth look at the development and deployment process, iTunes connect, the App Store and marketing.</p>
      <p><strong>Day 4</strong> gives students a specification for a simple, but full iPhone application and the task for the day is to build it! All of the concepts needed for this will have been taught by this time but the specifics of how to build the app are available if needed. This is an invaluable opportunity to build a real world application with an experienced developer as mentor. You can even get a sneak preview of what this final application does and how it looks because we <a href="http://itunes.apple.com/gb/app/tweet-trends-build-this-app/id368227792?mt=8">uploaded it to the app store</a>!</p>
      <p>All of our training materials (slides, tutorial documents and sample code) have been <a href="/blog/ios-training-courses-updated-for-xcode-4">fully updated to support Xcode 4</a>.</p>
      <h3>Everything you need to learn!</h3>
      <p>We will provide for you a state of the art Mac pre-loaded with the latest developer tools. Lunches and refreshments are also included! All you need to bring is your brain!</p>
    </div>
    <div class="section">
      <h3>About the Trainers</h3>
      {% include daveverwer-bio.html %}
      {% include prerequisites.html %}
      <p class="terms">All of our public training courses are subject to our <a href="/public-course-terms-and-conditions/">terms and conditions</a>.</p>
    </div>
</div>

<br style="clear:both" />
</div>
