<div class="wrapper wrapper-upper">
    
    <div class="container">

        <div class="header">

            <h1><a href="/" title="{{ page.title }}">Shiny Development</a></h1>
            
            <ul class="nav sf-menu">
                <li id="nav_home"><a href="/">Home</a></li>
                <li id="nav_training"><a href="/training">Training</a>
                    <ul>
                        <li class="top"><a href="/public-training">Public iPhone Training</a></li>
                        <li class="bottom"><a href="/in-house-iphone-os-training">In-House iPhone Training</a></li>
                    </ul>
                </li>
                <li id="nav_consultancy"><a href="/consultancy">Consultancy</a></li>
                <li id="nav_apps"><a href="/our-apps">Our Apps</a>
                    <ul>
                        <li class="top"><a href="http://balloonsapp.com">Balloons! for iPhone</a></li>
                        <li><a href="/speakapedia">Speakapedia</a></li>
                        <li><a href="/charades">Charades for iPhone</a></li>
                        <li class="bottom"><a href="/the-rag">The RAG</a></li>
                    </ul>
                </li>
                <li id="nav_blog"><a href="/blog">Blog</a></li>
                <li id="nav_contact"><a href="/contact-us">Contact Us</a></li>
        	</ul>

        </div>
    
    </div>
