<div class="wrapper">
    
    <div class="container">

        <div class="header">

            <h1><a href="#" title="Shiny Development">Shiny Development</a></h1>
            
            <ul class="nav sf-menu">
                <li id="nav_home"><a href="/index.html">Home</a></li>
                <li id="nav_training"><a href="/training.html">Training</a>
                    <ul>
                        <li><a href="/public-training.html">Public iPhone Training</a></li>
                        <li style="border-bottom: 0;" class="bottom"><a href="/in-house-training.html">In House iPhone Training</a></li>
                    </ul>
                </li>
                <li id="nav_consultancy"><a href="/consultancy.html">Consultancy</a></li>
                <li id="nav_apps"><a href="/our-apps.html">Our Apps</a></li>
                <li id="nav_blog"><a href="/blog.html">Blog</a></li>
                <li id="nav_contact"><a href="/contact-us.html">Contact Us</a></li>
        	</ul>

        </div>
    
    </div>

</div>