<ul class="post-share">
  <li><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="daveverwer" data-text="" data-url="http://shinydevelopment.com{{ page.url }}">Tweet</a></li>
  <li><a href="http://reddit.com/submit" onclick="window.location = 'http://reddit.com/submit?url=' + encodeURIComponent(window.location); return false"><img src="http://reddit.com/static/spreddit5.gif" alt="submit to reddit" border="0" /></a></li>
</ul>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>