<ul class="post-share">
  <li><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="daveverwer" data-text="" data-url="http://shinydevelopment.com{{ page.url }}">Tweet</a></li>
  <li><a href="http://reddit.com/submit" onclick="window.location = 'http://reddit.com/submit?url=' + encodeURIComponent(window.location); return false"><img src="http://reddit.com/static/spreddit5.gif" alt="submit to reddit" border="0" /></a></li>
  <li><a href="javascript:window.location=%22http://news.ycombinator.com/submitlink?u=%22+encodeURIComponent(document.location)+%22&amp;t=%22+encodeURIComponent(document.title)"><img src="/assets/images/y18.gif" alt="Submit to Hacker News" border="0" width="18" height="18" /></a></li>
  <li class="facebook-share">
  <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fshinydevelopment.com{{ page.url }}&amp;layout=standard&amp;show_faces=false&amp;width=400&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:35px;" allowTransparency="true"></iframe>    
  </li>
</ul>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>