<ul class="post-share">
  <li><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="shinydev" data-text="" data-url="http://shinydevelopment.com{{ page.url }}">Tweet</a></li>
  <li><a href="http://reddit.com/submit" onclick="window.location = 'http://reddit.com/submit?url=' + encodeURIComponent(window.location); return false"><img src="http://reddit.com/static/spreddit5.gif" alt="submit to reddit" border="0" /></a></li>
  <li><script src="http://www.stumbleupon.com/hostedbadge.php?s=4"></script></li>
  <li><a href="http://www.formspring.me/" class="formspring-button">Answer Questions</a><script type="text/javascript">
  	(function() {if (document.body.getAttribute('formspring-onload-attached') && window['fspring'] && window.fspring['button']) { fspring.run(); return; }var fs=document.createElement('script'); fs.type='text/javascript';fs.src='http://cdn.formspring.me/button/button.js';var s=document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(fs, s); })();
  </script></li>
</ul>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>