<div class="aside">
    
  
  <div class="callout-box">    
      <a href="/training/">
        <img src="/assets/images/ipad.jpg" alt="iPhone &amp; iPad Developer Training from Shiny Development" />
      </a>
  </div>

  <p class="callout-text">
    <a href="/training/">iPhone &amp; iPad Developer Training from Shiny Development</a>
  </p>
  
  
  
    
  <div class="callout">
    <h3>About Dave Verwer</h3>
    <p>Dave is an iPhone developer and trainer and is the creator of <a href="http://balloonsapp.com">Balloons! for iPhone</a> which has been ranked #1 in the iTunes "What's Hot" featured application around the world.</p>
    <p>Dave has been developing with the iPhone SDK since it was first released, has developed several successful applications and trained over a hundred other people to do the same!</p>
  </div>
  <div class="callout">
    <p>Interested in learning how to develop iPhone apps? Check out our <a href="/training/">training courses</a>.</p>
  </div>

  {% if site.related_posts %}
  <h3>Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:4 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  
  
  <div class="callout-box">    
        <a href="http://youtube.com/shinydevelopment" rel="external">
          <img src="/assets/images/youtube.png" alt="Shiny Development YouTube Channel" />
        </a>
    </div>
    <p class="callout-text">
        <a href="http://youtube.com/shinydevelopment" rel="external">Visit the Shiny Development YouTube Channel</a>
    </p>
  
  
  <div class="callout-box">    
        <a href="http://ideveloper.tv/store/details?product_code=10005" rel="external">
          <img src="/assets/images/idtv.png" alt="iDeveloper.tv Video Training" />
        </a>
    </div>
    <p class="callout-text">
        <a href="http://ideveloper.tv/store/details?product_code=10005" rel="external">Beginning iOS Development on iDeveloper TV</a>
    </p>
    
    
</div>