<table class="training-dates">
  <tr>
    <td class="date">25th&nbsp;August&nbsp;2015</td>
    <td class="location">Leeds</td>
    <td class="register"><p class="booking-link"><a href="http://www.ntileeds.co.uk/training/ios-iphone-&amp;-ipad-apps-development" onClick="trackOutboundLink(this, 'LeedsAug2015', 'http://www.ntileeds.co.uk/training/ios-iphone-&amp;-ipad-apps-development'); return false;">MORE INFO</a></p></td>
  </tr>
  <tr>
    <td class="date">27th&nbsp;October&nbsp;2015</td>
    <td class="location">Leeds</td>
    <td class="register"><p class="booking-link"><a href="http://www.ntileeds.co.uk/training/ios-iphone-&amp;-ipad-apps-development" onClick="trackOutboundLink(this, 'LeedsOct2015', 'http://www.ntileeds.co.uk/training/ios-iphone-&amp;-ipad-apps-development'); return false;">MORE INFO</a></p></td>
  </tr>
  <tr>
    <td class="date">15th&nbsp;December&nbsp;2015</td>
    <td class="location">Leeds</td>
    <td class="register"><p class="booking-link"><a href="http://www.ntileeds.co.uk/training/ios-iphone-&amp;-ipad-apps-development" onClick="trackOutboundLink(this, 'LeedsDec2015', 'http://www.ntileeds.co.uk/training/ios-iphone-&amp;-ipad-apps-development'); return false;">MORE INFO</a></p></td>
  </tr>
</table>
