<table class="training-dates">
  <tr>
    <td class="date">9-12 May 2011</td>
    <td class="location">Manchester</td>
    <td class="register"><p class="booking-link"><a href="http://www.scmdt.mmu.ac.uk/business_services/iphone/">Book a Place</a></p></td>
  </tr>
  <tr>
    <td class="date">5-8 July 2011</td>
    <td class="location">Central London</td>
    <td class="register"><p class="booking-link"><a href="http://iosdevelopment-london-july-2011.eventbrite.com/">Book a Place</a></p></td>
  </tr>
  <tr>
    <td class="date">11-14 July 2011</td>
    <td class="location">Manchester</td>
    <td class="register"><p class="booking-link"><a href="http://www.scmdt.mmu.ac.uk/business_services/iphone/">Book a Place</a></p></td>
  </tr>
  <tr>
    <td class="date">13-16 Sept 2011</td>
    <td class="location">Central London</td>
    <td class="register"><p class="booking-link"><a href="http://iosdevelopment-london-september-2011.eventbrite.com/">Book a Place</a></p></td>
  </tr>
  <tr>
    <td class="date">September 2011</td>
    <td class="location">Online!</td>
    <td class="register"><p class="booking-link"><a href="https://spreadsheets0.google.com/a/shinydevelopment.com/viewform?hl=en&amp;hl=en&amp;formkey=dGw3V2VqTEZLNFAtazRoVXpRMkVSb3c6MQ#gid=0">Register Interest</a></p></td>
  </tr>
  <tr>
    <td colspan="3">Prices from &pound;850 - &pound;1200 with discounts for early registration and freelancer/single person companies. All prices are inclusive of VAT.</td>
  </tr>
</table>
