<table class="training-dates">
  <tr>
    <td class="date">4&nbsp;Oct&nbsp;2011</td>
    <td class="location">Manchester</td>
    <td class="register"><p class="booking-link"><a href="http://iosdevelopment-manchester-october-2011.eventbrite.com/">Book Now</a></p></td>
  </tr>
  <tr>
    <td class="date">28th&nbsp;Nov&nbsp;2011</td>
    <td class="location">Manchester</td>
    <td class="register"><p class="booking-link"><a href="http://iosdevelopment-manchester-november-2011.eventbrite.com/">Book Now</a></p></td>
  </tr>
  <tr>
    <td class="date">Early 2012</td>
    <td class="location">iOS 5 Training in Manchester &amp; London</td>
    <td class="register"><p class="booking-link"><a href="#">Coming Soon!</a></p></td>
  </tr>
  <tr>
    <td class="date">Early 2012</td>
    <td class="location">Online iOS 5 Training</td>
    <td class="register"><p class="booking-link"><a href="https://spreadsheets0.google.com/a/shinydevelopment.com/viewform?hl=en&amp;hl=en&amp;formkey=dGw3V2VqTEZLNFAtazRoVXpRMkVSb3c6MQ#gid=0">Register Interest</a></p></td>
  </tr>
  <tr>
    <td colspan="3">Prices from &pound;905 - &pound;1295 with discounts for early registration and freelancers, sole traders or single person companies. Prices are exclusive of VAT.</td>
  </tr>
</table>
