<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=UTF-8 />
<title>Shiny Development</title>
<meta name="description" content="" />

<!--CSS-->
<link rel="stylesheet" type="text/css" href="assets/styles/screen.css" media="screen, print" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="assets/styles/ie6.css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="assets/styles/ie7.css" media="screen" /><![endif]-->

<!--JS-->
<script src="assets/js/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="assets/js/cufon-yui.js" type="text/javascript"></script>
<script src="assets/js/myriad-pro_400-myriad-pro_600.font.js" type="text/javascript"></script>
<script src="assets/js/onload.js" type="text/javascript"></script>

<!--[if IE 6]><script src="assets/js/belatedpng.js" type="text/javascript"></script><![endif]-->
<!--[if IE 6]><script src="assets/js/ie6.js" type="text/javascript"></script><![endif]-->


</head>

<body>

<div class="wrapper">
    
    <div class="container">

        <div class="header">

            <h1><a href="#" title="Shiny Development">Shiny Development</a></h1>
            
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Training</a></li>
                <li><a href="#">Consultancy</a></li>
                <li><a href="#">Our Apps</a></li>
                <li><a href="#">Contact Us</a></li>
        	</ul>

        </div>
    
    </div>
    
    <div class="container content-upper">
        
        <div class="section ">
	
	        <h2>The iPhone &amp; iPad Experts.</h2>
            <p class="excerpt">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Integer eu nibh diam, a porta justo. Lorem ipsum dolor sit amet
                consectetur adipiscing elit. Integer eu nibh diam, a porta justo. 
                Lorem ipsum dolor sit amet.
            </p>
            
            <p><a href="#">iPhone Developer Training &#8594;</a></p>
            <p><a href="#">iPhone OS Consultancy &#8594;</a></p>

        </div>

        <img src="assets/images/ipad-iphone.png" width="492" height="480" class="display-img" />

    </div>

</div>
    

<div class="wrapper pattern">
    
    <div class="container content-lower">

        <div class="section">

            <h3>iPhone Developer Training</h3>
            
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Integer eu nibh diam, a porta justo. Lorem ipsum dolor sit amet
                consectetur adipiscing elit. Integer eu nibh diam, a porta justo. 
                Lorem ipsum dolor sit amet.
            </p>
            
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Integer eu nibh diam, a porta justo. Lorem ipsum dolor sit amet
                consectetur adipiscing elit. Integer eu nibh diam, a porta justo. 
                Lorem ipsum dolor sit amet.
            </p>
            
            <p><a href="#">Read More &#8594;</a></p>

        </div>
        
        
        <div class="section section-lower">

            <h3>iPhone OS Consultancy</h3>
            
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Integer eu nibh diam, a porta justo. Lorem ipsum dolor sit amet
                consectetur adipiscing elit. Integer eu nibh diam, a porta justo. 
                Lorem ipsum dolor sit amet.
            </p>
            
            <p><a href="#">Read More &#8594;</a></p>

        </div>
        
        
        <div class="section section-lower">

            <h3>Our Apps</h3>
            
            <ul>
                <li><strong>Balloons!</strong> (iPhone)</li>
                <li><strong>Charades</strong> (iPhone)</li>
                <li><strong>Speakapedia</strong> (OS X)</li>
                <li><strong>The RAG</strong> (iPhone)</li>
            </ul>
            
            <p>
                Lorem ipsum dolor sit amet.
            </p>
            
            <p><a href="#">Contact Us &#8594;</a></p>

        </div>

    </div>
    
</div>

<div class="wrapper">

    <div class="container">

        <div class="footer">
            
            <ul>
                <li class="shiny-logo">Shiny Development</li>
                <li>&copy; Shiny Development <abbr title="Limited">Ltd</abbr>, 2004-2010.  All rights reserved. <a href="http://twitter.com/shinydevelopment">Follow us on Twitter</a></li>
            </ul>

        </div>

    </div>
  
</div>

</body>
</html>